.footer {
    background-color: var(--light-secondary-color);
}

.footer__list {
    display: flex;
    justify-content: space-around;
}

.footer__text {
    text-align: center;
    padding-bottom: 20px;
}

.footer__text p {
    margin-top: 10px;
}