.main__inner {
    padding: 5px;
}

.main__filter-search {
    height: 55px;

    display: flex;
    padding: 5px;
}

.main__filter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.main__filter-button{
    padding: 2px;
    background-color: var(--light-secondary-color);
    border-radius: 2px;

    display: flex;
    align-items: center;
    justify-content: space-around;

    width: 40px;
    height: 40px;

    border: none;
    /* box-shadow: 0px 0px 38px 22px rgba(189,189,189,1); */
}

.main__filter-button:hover {
    cursor: pointer;
}

.main__filter-button:active {
    background-color: var(--light-third-color);
}

.main__filter-text {
    display: none;
}

.main__filter-button__icon {
    width: 100%;
    height: 100%;
}

.main__filter-search__form {
    width: 150px;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
}

.main__filter-search__input {
    padding-left: 5px;
    padding-right: 5px;

    width: 100px;
    height: 100%;

    border: none;
    border-bottom: 2px solid #000;

    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.main__filter-search__input:focus {
    outline: unset;
}

.main__filter-search__button {
    padding: 3px;
    background-color: var(--light-secondary-color);
    border-radius: 2px;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 40px;
    height: 40px;
    border: none;
}

.main__filter-search__button:hover {
    cursor: pointer;
}

.main__filter-search__button:active {
    background-color: var(--light-third-color);
}

.main__filter-search__icon {
    margin: auto;
    width: 100%;
    height: 100%;
    border: none;
}

.main__movies {
    
}

.main__movies-list {
    display: grid;
    grid-template-columns: 125px 125px;

    align-items: center;
    justify-content: center;

    gap: 10px;
}

.main__movies-item {
    background-color: var(--light-secondary-color);
    border-radius: 2px;
    height: 210px;

    margin: 2px;
    padding: 5px;
}

.main__movies-image-wrapper {
    /* background-color: #c1c1c1; */
    width: 100%;
    height: 140px;
    padding: 0 3px;
}

.main__movies-item__title {
    margin-top: 5px;
    font-size: 14px;

    width: 100%;
}

.main__movies-item__description {    
    font-size: 10px;
    width: 100%;
}

.main__movies-item__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main__popup-container {
    width: 0;
    height: 0;
    opacity: 0;

    transition: 0.1s;
    display: flex;
    flex-direction: column;
    align-items: end;
    border-radius: 10px;
    padding: 15px;
}

.main__popup-container--open  {
    width: 90vw;
    height: 60vh;
    opacity: 1;
}

.main__background {
    z-index: 1;
}

.popup-container__form {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.popup-container__button {
    width: 40px;
    height: 40px;
    margin-bottom: 20px;
}

.popup-container__close-icon {
    width: 100%;
    height: 100%;
}

.popup-container__form-select {
    height: 40px;
    margin-bottom: 15px;
}

.popup-container__form-button {
    height: 50px;
}

.main__movies-item__link {
    display: block;
    width: 100%;
    height: 100%;
}

.main__pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
}

.main__pagination-inner {
    width: fit-content;
    height: fit-content;

    display: flex;
    gap: 3px;
}

.pagination__link {
    font-size: 10px;
    text-align: center;
    
    border-radius: 3px;
    border: 1px solid #000;

    background-color: #c6e4ff;

    padding: 5px;
}

.pagination__link--chosen {
    background-color: var(--light-secondary-color);
}

@media (min-width: 768px) {
    .main__filter-text {
        display: block;
    }

    .main__filter-button {
        width: 110px;
        height: 40px;
    }

    .main__filter-button__icon {
        width: 40px;
    }

    .main__movies-list {
        grid-template-columns: 140px 140px 140px 140px;
    }

    .main__movies-image-wrapper {
        height: 160px;
    }

    .main__movies-item {
        height: 230px;
    }

    .main__filter-search__form {
        width: 400px;
    }

    .main__filter-search__input {
        width: 350px;
    }

    .main__popup-container--open {
        width: 60vw;
    }

    .main__pagination {
        height: 40px;
    }
    
    .pagination__link {
        font-size: 14px;
    }
}

@media (min-width: 1024px) {
    .main__popup-container--open {
        width: 30vw;
    }

    .main__movies-list {
        grid-template-columns: 190px 190px 190px 190px;
    }

    .main__movies-image-wrapper {
        height: 220px;
    }

    .main__movies-item {
        height: 300px;
    }

    .main__movies-item__title {
        font-size: 15px;
    }
    
    .main__movies-item__description {    
        font-size: 12px;
    }
}