:root {
    /* colors */
        /* dark-theme: */
    --dark-main-color: #353b4e;
    --dark-secondary-color: #4f3a77;
    --dark-third-color: #927fbc;
    --dark-fourth-color: #c2baed;
        /* light-theme: */
    --dark-main-color: #bcd8f1;
    --dark-secondary-color: #80a7cc;
    --dark-third-color: #3468a6;
    --dark-fourth-color: #1e4378;

    /* fonts */

    /* font-sizes */

    /* animations */

    /* others */

}
